body {
  font-family: Arial, sans-serif;
  background-color: #05418f;
  color: #1d1a1a;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #0078d7;
  color: rgb(80, 35, 35);
  padding: 20px;
}

nav {
  margin: 20px 0;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  background-color: #138b8b;
  color: rgb(59, 32, 32);
  padding: 8px 14px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #005ea8;
}

main {
  margin: 20px;
  padding: 20px;
  background-color: rgb(141, 108, 108);
  border-radius: 8px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

pre {
  background: #bdb9b9;
  padding: 10px;
  border-radius: 6px;
  text-align: left;
  overflow-x: auto;
}

button {
  padding: 10px 16px;
  border: none;
  background-color: #8f9499;
  color: rgb(97, 43, 43);
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #4b5761;
}

.caixa {
  background-color: lightblue;
  padding: 15px;
  border-radius: 8px;
}

.exemplo {
  background-color: #010b13;
  padding: 10px;
  border-radius: 6px;
}
